<h2>This is a list of all Articles </h2>

<% articles.forEach(function(article) { %>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Title:
                <a href="/articles/<%= article.id %>">
                    <%= article.name %>
                </a>
            </p>
            <p>Body:
                <%= article.category %>
            </p>
            <a href="/articles/<%= article.id %>/edit">edit</a>
            <a class="delete-link" href="/articles/<%= article.id %>">delete</a>
        </div>
    </div>
    <hr>
    <% }); %>
