<h2>List of all Posts</h2>
<% posts.forEach(function(post){ %>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Title:
                <a href="/posts/<%= post.id %>">
                    <%= post.title %>
                </a>
            </p>
            <p>Content:
                <%= post.content %>
            </p>
            <p>User Id:
                <%= post.userId %>
            </p>
            <!-- <p>User Name:
                <%= post.userName %>
            </p> -->
            <a href="/posts/<%= post.id %>/edit">edit</a>
            <a class="delete-link" href="/posts/<%= post.id %>">delete</a>
        </div>
    </div>
    <hr>
    <% }); %>
