<h1><%= post.title %> <small>by <%= post.user.Name() %></small></h1>

<p>
    <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p>
    <%= post.content %>
</p>

<p>
    <strong>Tags:</strong>
</p>
<ul>
    <% post.tags.forEach(function(tag){ %>
        <li>#
            <%= tag.name %>
        </li>
        <% }); %>
</ul>

<hr />

<h2>Comments</h2>

<% post.comments.forEach(function(comment, index) { %>
    <div class="well">

        <p>
            <%= comment.content %>
        </p>
        <p>
            <%= comment.userId %>
        </p>
    </div>
    <% }); %>

        <form action="/posts/<%= post.id %>/comments" method="POST">
            <h2>Add Comment</h2>
            <div class="form-group">
                <label>Name</label>
                <input name="name" type="text" class="form-control" placeholder="Enter name or leave blank for Anonymous">
            </div>
            <div class="form-group">
                <label>Comment</label>
                <textarea name="content" class="form-control" placeholder="Enter comment"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default">
            </div>
        </form>
        <div class="form-group">
            <label for="userName">userName</label>
            <select name="userId" id="user" class="form-control" required>
          <% users.forEach(function(user) { %>
            <option value="<%= user.id %>"><%= user.name() %></option>
          <% }); %>
        </select>
            <p>You must <a href='/auth/login'>login </a> or <a href='/auth/signup'>sign up </a>to add a comment.</p>
        </div>
